$-------------------------------------------------------------------------
== preprocessor.include-global == insert ==
#include <<CURSOR>>
$-------------------------------------------------------------------------
== preprocessor.include-local == insert ==
#include "<CURSOR>"
$-------------------------------------------------------------------------
== preprocessor.define == insert ==
#define	<CURSOR>
$-------------------------------------------------------------------------
== preprocessor.undefine == insert ==
#undef	<CURSOR>
$-------------------------------------------------------------------------
== preprocessor.if-endif ==
#if  |?CONDITION:u|
<CURSOR><SPLIT>
#endif
$-------------------------------------------------------------------------
== preprocessor.if-else-endif ==
#if  |?CONDITION:u|
<CURSOR><SPLIT>
#else
<+ELSE PART+>
#endif
$-------------------------------------------------------------------------
== preprocessor.ifdef-else-endif ==
#ifdef  |?CONDITION:u|
<CURSOR><SPLIT>
#else
<+ELSE PART+>
#endif
$-------------------------------------------------------------------------
== preprocessor.ifndef-else-endif ==
#ifndef  |?CONDITION:u|
<CURSOR><SPLIT>
#else
<+ELSE PART+>
#endif
$-------------------------------------------------------------------------
== preprocessor.ifndef-def-endif ==
#ifndef  |?BASENAME:L|_INC
#define  |BASENAME|_INC
<CURSOR><SPLIT>
#endif
$-------------------------------------------------------------------------
== preprocessor.error ==
#error	"<CURSOR>"
$-------------------------------------------------------------------------
== preprocessor.line ==
#line	<CURSOR>
$-------------------------------------------------------------------------
== preprocessor.pragma ==
#pragma	<CURSOR>
$-------------------------------------------------------------------------
